

/* CSS for the ingredients page */
body{
  background-color: #ffefe4;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239bc9fc' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");  


}


.form-container {
  
    margin: 0 auto;  
    max-width: 400px;
    padding: 20px;
    border-width: 0cap;
  }
  .personal-info-form {
    text-align: left;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    font-family: "Montserrat", "sans-serif";
  }
  
 .form-container  {
  display: flex;/*Alineacion de elementos horizontales*/
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 .from-container{
  text-align: center;
 }
  
  .form-container input[type="text"], 
  .form-container input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
  
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }