
body{
  background-color: #313131;
}
.navegacion{
 width: 100px;
 margin-top: 30px auto;
 background: #fff; 

}
.navegacion ul{
  list-style: none;
}

.menu>li{
 
 /* position: relative;*/
  display: inline-block;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

header{
  width: 100%;
  position: fixed;
top: 0;
left: 0;
background: #fff;

}
/*header superior*/
.header_superior{
max-width: 1200px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
}

.search input {
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

 
